@import url('https://fonts.googleapis.com/css?family=Gugi');

/*****************GENERAL*****************/
	/* reset */
html{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.clear{
	clear: both;
}
button{
	/* style */
	color: white;
	background-color: black;
	border: none;
	padding: 0.5em 1em;
	border-radius: 2px;
	transition: 0.1s ease-in-out;
}
a{
	/* style */
	color: white;
	background-color: black;
	border: none;
	padding: 0.5em 1em;
	border-radius: 2px;
	text-decoration: none;
	transition: 0.1s ease-in-out;
}
.disabled{
	pointer-events: none;
    opacity: 0.6;
}
.inactive{
    opacity: 0.7;
}
/*****************HEADER*****************/
header{
	z-index: -1;
	/* position */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* style */
	font-family: 'Gugi';
	background-color: darkolivegreen;
	margin: 0;
	padding: 0;
}
header h1{
	/* style */
	color: white;
	text-shadow: 0px 0px 10px red;
	margin: 0;
	padding: 0.2em 3em;

}
/*****************LOGIN*****************/
#loginContainer{
	/* position */
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	height: 94.5%;
	/* style */
	background-image: url("../../Media/images/login.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	background-color: rebeccapurple;
}
#loginContainer .acces{
	/* position */
	position: absolute;
	top: 50%;
	left: 30%;
	/* style */
	color: white;
	text-align: center;
	padding-top: 1em;
	background-color: rgba(85, 107, 47, 0.7);
	box-shadow: 0 0 2px white;

}
#loginContainer .acces h3{
	/* position */
	padding: 0;
	margin: 0;
	/* style */
	font-family: 'Gugi';
	text-align: center;
	color: white;
	text-shadow: 0px 0px 10px orange;
}
#loginContainer form{
	/* position */
	width: 90%;
	margin: auto;
	/* style */
	font-weight: bold;
	padding: 0.5em;
	transform-origin: center center;
}
#loginContainer .formDesc{
	/* position */
	float: left;
	width: 45%;
	/* style */

}
#loginContainer input{
	/* position */
	float: right;
	width: 53%;
	/* style */
}
#loginContainer .buttonLogin{
	/* position */
	float: right;
	/* style */
	color: white;
	background-color: black;
	border: none;
	padding: 0.5em 1em;
	border-radius: 2px;
	transition: 0.1s ease-in-out;
}
#loginContainer button:hover{
	/* style */
	background-color: rgb(55, 55, 167);
	padding: 0.5em 1em;
}
#loginContainer .inscription #changeLog{
	/* style */
	Color: rgb(8, 8, 189);
	background-color: transparent;
}

/*****************LOBBY*****************/

#lobbyContainer{
	/* position */
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	height: 94.5%;
	/* style */
	background-image: url("../../Media/images/lobby.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	background-color: rebeccapurple;
}
#lobbyContainer > div{
	/* position */
	position: relative;
	height: 90%;
	width: 90%;
	max-width: 1100px;
	left: 0;
	right: 0;
	margin: auto;
	top: 5%;
}

#lobbyButtons{
	/* position */
	position: absolute;
	left: 0;
	top: 5%;
	height: 90%;
	transform: scale(1.1);
	
	/* style */
	background-color: white;
}
#lobbyButtons h3{
	/* position */
	width: 75%;
	margin: 0 auto;
	margin-bottom: 40%;
	margin-top: 30%;
	transform: scale(1.3);

	/* style */
	color:rgba(0, 0, 255, 0.5);
	text-shadow: 0px 0px 10px rgb(14, 14, 161);
	font-family: 'Gugi';
}
#lobbyButtons > *{
	/* position */
	margin: 10% 0;
}
#lobbyContainer button{
	background-color: white;
	color: black;
	font-weight: bolder;
}
#lobbyContainer button:hover{
	/* style */
	background-color: rgb(14, 14, 161);
	color: white;
}

#lobbyAffichageParties , #lobbyAffichageScores, #lobbyAffichageInfos{
	/* position */
	position: absolute;
	width: 90%;
	height: 100%;
	right: 0;
	margin: 0;
	top: 0;

	/* style */
	overflow-y: scroll;
	background-color: rgba(34, 119, 8, 0.329);
}
#lobbyAffichageScores, #lobbyAffichageInfos{
	/* style */
	visibility: hidden;
}

	/** header parties **/
#lobbyAffichageParties > div:first-of-type, #lobbyAffichageScores > div:first-of-type, #lobbyAffichageInfos > div:first-of-type{ 
	/* position */
	position: sticky;
	top : 0;

	/* style */
	background-color: rgb(6, 19, 18); 
	padding: 0.2em 1em;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	font-family: 'Gugi';
}
#lobbyAffichageParties .slotPartie{
	/* position */
	display: inline-block;
	width: 20%;
	height: 30%;

	/* style */
	background-color: rgba(14, 14, 161, 0.7);
	margin: 2%;
	border: 1px solid white;
	padding: 1%;
	border-radius: 2%;
	color: white;
	text-align: center;
}
.slotPartie h2{
	/* style */
	text-shadow: 0 0 10px red;
	font-family: 'Gugi';
	font-size: 3.5em;
	margin-top: 10%;
}
.slotPartie h4 , .slotPartie h5 {
	/* style */
	font-weight: lighter;
	margin: 0;
}
.slotPartie h4{
	text-decoration: underline;
}
#lobbyAffichageParties div:not(:first-child):hover{
	background-color: rgba(14, 14, 161, 1);
	transition: 0.3s ease;
}

#messageBox{
	/* position */
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 150px;
	height: 150px;
	top: 20%;
	
	/* style */
	background-color: blue;
	border-radius: 2%;
	border: 2px solid white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	visibility: hidden;
}
#messageBox > *{
	margin: 1% 0;
}
#back{
	align-self: flex-start;
}
#enter{
	align-self: flex-end;
}
#messageBox button{
	margin: 5% 0;
}
/*****************GAME*****************/
#gameContainer{
	/* position */
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	height: 94.5%;
	/* style */
	background-image: url("../../Media/images/game.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	overflow: hidden;
	background-color: rebeccapurple;
}

#table{
	/* position */
	position: absolute;
	left: 0;
	right: 0;
	top: 15%;
	margin: auto;
	width: 50%;
	height: 50%;

	/* style */
    padding: 2% 2%;
	background-image: url("../../Media/images/table.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
	/* transform: perspective(20em) rotateX(55deg); */
}
#gameStatus{
	/*visibility: hidden;*/
	z-index: 1;
	/* position */
	position: fixed;
	left: 5%;
	top: 10%;
	width: 10%;
	height: 15%;
	min-height: 100px;

	/* style */
	background-color: rgba(255, 255, 255, 0.3);
	padding: 1% 2%;
	border-radius: 2%;

	/* pointer-events: none;
	user-select: none; */
}
#gameStatus > *{
	/* position */
	margin: 0;
}
#gameStatus > h3{
	color: rgba(228, 52, 8, 0.5);
	text-decoration: underline;
	text-shadow: 0 0 5px black;
}
#gameStatus p{
	font-weight: bold;
}
#gameFooter{
	/* position */
	position: fixed;
	left: 0;
	right: 0;
	bottom: 5%;
	width: 100%;
	height: 15%;
	min-height: 100px;

	/* style */
	background-color: rgba(128, 128, 128, 0.5);
	box-shadow: 0 0 10px gray;
	text-align: center;


	/* child position */
	display: flex;
	justify-content: center;
	align-items: center;

}
#gameFooter > div{
	/* position */
	width: 10%;
	margin: 0 15%;
}
.tour{
	/* child position */
	display: flex;
	flex-direction:  row;
	justify-content: space-around;
	align-items: center;
}
.tour > *{
	/* position */
	margin: 0 5%;
}
#gameFooter .tourIcon{
	/* position */
	width: 15px;
	height: 15px;
	/* style */
	border-radius: 50%;
	background-color: white;
}
#gameFooter .tour #tonTour{
	/* style */
	background-color: rgb(252, 252, 104);
	border: solid teal 3px;
	box-shadow: 0 0 10px rgb(252, 252, 104);
}
#gameFooter .tour #pasTonTour{
	/* style */
	background-color: rgba(255, 255, 255, 0.6);
}
#gameFooter button:hover{
	/* style */
	background-color: rgb(14, 14, 161);
}
.queue{
	z-index: 100;

	/* position */
	position: absolute;
	width: 10px;
	height: 700px;

	/* style */
	padding-top: 1.5%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-origin: content-box;
	background-size: 100% 100%;
	transform-origin: top center;
	/* transition: 0.1s ease; */

}
#queueJ1, .queueJ1Disabled{
	/* position */
	left: 3%;
	/* style */
	background-image: url("../../Media/images/queueJ1.png");
}
#queueJ2, .queueJ2Disabled{
	/* position */
	right: 3%;
	/* style */
	background-image: url("../../Media/images/queueJ2.png");
}
.queueJ1Disabled, .queueJ2Disabled{
	visibility: hidden;
}
.balle{
	z-index: 50;
	/* position */
	position: absolute;
	width: 30px;
	height: 30px;

	/* style */
	background-image: url("../../Media/images/ballShadow.png");
	/* , url("../../Media/images/ballLight.png"), url("../../Media/images/ballPoint.png"); */
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform-origin: center center;

}
#gameContainer #balleRouge{
	/* style */
	background-color: red;
}
#gameContainer #balleJaune{
	/* transform: scale(0.9); */

	/* style */
	background-color: yellow;
}
#gameContainer #balleBlanche{
	/* transform: scale(1.1); */
	/* style */
	background-color: white;
}

#test
{
	width:15px;
	height:15px;
	background-color: pink;
	position: absolute;
}

